<section class="u-center-text">
  <h1>Pinterest</h1>
</section>
<section>
 <a href="https://www.youtube.com/watch?v=2750Vj-hMq8" target="_blank">
   <div class="pin-card pin-card--small">
     <div class="pin-card__title">
       <span>Cool Beans</span>
     </div>
     <div class="pin-card__content">
       <div class="pin-card__image"></div>
       <p class="pin-card__text">This is some sample text. I love knowing how to code. Now I just want to get even better at it.<p>
     </div>
     <div class="pin-card__status u-position-bottom">
       <span class="pin-card__icon fa fa-heart u-pull-left"></span>
       <span class="pin-card__icon fa fa-commenting-o u-pull-right"></span>
     </div>
   </div>

   <div class="pin-card pin-card--small">
     <div class="pin-card__title">
       <span>Cool Beans</span>
     </div>
     <div class="pin-card__content">
       <div class="pin-card__image"></div>
       <p class="pin-card__text">This is some sample text. I love knowing how to code. Now I just want to get even better at it.<p>
     </div>
     <div class="pin-card__status u-position-bottom">
       <span class="pin-card__icon fa fa-heart u-pull-left"></span>
       <span class="pin-card__icon fa fa-commenting-o u-pull-right"></span>
     </div>
   </div>
 </a>
</section>
