<section>
  <div class="pin-card pin-card--wide">
    <div class="pin-card__content pin-card__content--left-align">
      <div class="pin-card__image"></div>
    </div>
    <div class="pin-card__title pin-card__title--bottom-caption">
      <span>Cool Beans</span>
    </div>
    <p class="pin-card__text pin-card__text--left-align">This is some sample text. I love knowing how to code. Now I just want to get even better at it.<p>
    <div class="pin-card__status u-position-bottom">
      <span class="pin-card__icon fa fa-user u-pull-left"> 2 Following</span>
    </div>
  </div>
</section>
