<section class="flex-container">
  <div class="flex-container__item--md">
    <div class="pin-card">
      <div class="pin-card__content pin-card__content--left-align">
        <div class="pin-card__image"></div>
        <div class="pin-card__title pin-card__title--bottom-caption">
          <span>Cool Beans</span>
        </div>
        <p class="pin-card__text">This is some sample text. I love knowing how to code. Now I just want to get even better at it.<p>
      </div>
      <div class="pin-card__status u-position-bottom">
        <span class="pin-card__icon fa fa-user u-pull-left"> 2 Following</span>
      </div>
    </div>
  </div>
  <div class="flex-container__item--md">
    <form>
      <input type="text" placeholder="name"/><br>
      <input type="text" placeholder="name"/><br>
      <input type="text" placeholder="name"/>
    </form>
  </div>
</section>
