<section class="flex-container">
  <div class="flex-container__item--md">
    <div class="pin-card">
      <div class="pin-card__content pin-card__content--left-align">
        <div class="pin-card__image"></div>
        <div class="pin-card__title pin-card__title--bottom-caption">
          <span>Cool Beans</span>
        </div>
        <p class="pin-card__text">This is some sample text. I love knowing how to code. Now I just want to get even better at it.<p>
      </div>
      <div class="pin-card__status u-position-bottom">
        <span class="pin-card__icon fa fa-user u-pull-left"> 2 Following</span>
      </div>
    </div>
  </div>
  <div class="flex-container__item--md">
    <div class="pin-card">
      <div class="pin-card__title">
        <span>Cool Beans</span>
      </div>
      <div class="pin-card__content">
        <form>
          <input class="input-ctrl" type="text" placeholder="Post Name"/><br><br>
          <input class="input-ctrl" type="text" placeholder="Post Image Link"/><br><br>
          <input class="input-ctrl" type="text" placeholder="Post Description"/>
          <button class="btn btn--primary">Create Pin</button>
        </form>
      </div>
    </div>
  </div>

  <div class="flex-container__item">
    <a href="https://www.youtube.com/watch?v=2750Vj-hMq8" target="_blank">
      <div class="pin-card pin-card--small">
        <div class="pin-card__title">
          <span>Cool Beans</span>
        </div>
        <div class="pin-card__content">
          <div class="pin-card__image"></div>
          <p class="pin-card__text">This is some sample text. I love knowing how to code. Now I just want to get even better at it.<p>
        </div>
        <div class="pin-card__status u-position-bottom">
          <span class="pin-card__icon fa fa-heart u-pull-left"></span>
          <span class="pin-card__icon fa fa-commenting-o u-pull-right"></span>
        </div>
      </div>
   </a>
  </div>

  <div class="flex-container__item">
    <a href="https://www.youtube.com/watch?v=2750Vj-hMq8" target="_blank">
      <div class="pin-card pin-card--small">
        <div class="pin-card__title">
          <span>Cool Beans</span>
        </div>
        <div class="pin-card__content">
          <div class="pin-card__image"></div>
          <p class="pin-card__text">This is some sample text. I love knowing how to code. Now I just want to get even better at it.<p>
        </div>
        <div class="pin-card__status u-position-bottom">
          <span class="pin-card__icon fa fa-heart u-pull-left"></span>
          <span class="pin-card__icon fa fa-commenting-o u-pull-right"></span>
        </div>
      </div>
   </a>
  </div>

  <div class="flex-container__item">
    <a href="https://www.youtube.com/watch?v=2750Vj-hMq8" target="_blank">
      <div class="pin-card pin-card--small">
        <div class="pin-card__title">
          <span>Cool Beans</span>
        </div>
        <div class="pin-card__content">
          <div class="pin-card__image"></div>
          <p class="pin-card__text">This is some sample text. I love knowing how to code. Now I just want to get even better at it.<p>
        </div>
        <div class="pin-card__status u-position-bottom">
          <span class="pin-card__icon fa fa-heart u-pull-left"></span>
          <span class="pin-card__icon fa fa-commenting-o u-pull-right"></span>
        </div>
      </div>
   </a>
  </div>
</section>
