<section>
  <h1>This is the Single Pin page!</h1>
</section>
<section>
  <div class="pin-card pin-card--wide">
    <div class="pin-card__title">
      <span>Cool Beans</span>
    </div>
    <div class="pin-card__content">
      <div class="pin-card__image"></div>
      <p class="pin-card__text">This is some sample text. I love knowing how to code. Now I just want to get even better at it.<p>
    </div>
    <div class="pin-card__status u-position-bottom">
      <span class="pin-card__icon fa fa-heart u-pull-left"></span>
      <span class="pin-card__icon fa fa-commenting-o u-pull-right"></span>
    </div>
  </div>
</section>
