.container{
  width: 100%;
  min-height: 100%;
  padding: 0;
  position: relative;
}
header{
  width: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.content{
  width: 100%;
  padding: .8em;
  margin: 0;
  padding-bottom: 120px;
  background-color: rgb(209, 209, 209);
}
footer{
  width: 100%;
  padding:.5em;
  text-align: center;
  background: transparentize(blue, 0.2);
}
