.drop-down{
  position: relative;
  background: #fff;
  padding: 0.5em;
  max-width: 200px;
  border-radius: 5px;
  box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.3);
  z-index:100;
  border:1px solid #fff;
  text-align: center;
  &__test{
    display:inline-block;
    font-weight: bold;
  }
  &__input{
    width: 100%;
    border:1px solid gray;
    border-radius: 2px;
    padding:.3em;
    margin-bottom: .5em;
  }
  &__btn{
    background: transparentize(blue,0.2);
    border:none;
    border-radius: 2px;
    padding: .3em .5em .3em .5em;
    color:white;
    &:focus{
      outline: none;
    }
  }
  &:after{
    content:'';
    position: absolute;
    top:-6px;
    left:0;
    border-bottom:7px solid #fff;
    border-right:8px solid transparent;
    border-left:8px solid transparent;
    z-index: 200;
  }
}
