.nav{
  width: 100%;
  background: transparentize(blue,0.2);
  padding: .5em;
  &__brand{
    display: inline-block;
    padding: 1em;
    text-align: center;
  }
  &:after{
    content: "";
    display: table;
    clear:both;
  }
  &__hamburger{
    display: none;
    color:white;
    padding: 1em;
    @media screen and (max-width:520px){
      display: block;
    }
    &:hover{
      cursor: pointer;
    }
  }
  &__dropdown{
    position: absolute;
    top: 3.15em;
    display: none;
  }
}

.menu{
  display: inline-block;
  float: right;
  &__item{
    display: inline;
    padding: .3em;
    &:not(:last-child){
      margin-right: 1.1em;
    }
    &:hover{
      color:#fff;
      cursor: pointer;
      .nav__dropdown{
        display: block;
      }
    }
  }
  @media screen and (max-width:520px){
    display:none;
  }
}
